@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer";
    }

    main {
        grid-area: main;
    }

    header {
        gap: 10px;
    }

    .titulo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .header-actions {
        flex-direction: column;
        gap: 10px;
    }

    .sidebar {
        grid-area: sidebar;
    }
    
    .cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto; 
    }

    .historico-transacoes {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

    .cabecalho-tabela {
        display: none;
    }
    
    .info-transacao {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: left;
    }

    .nome-transacao {
        text-wrap: wrap;
    }
    .item-transacao {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto auto auto;
        gap: 8px;
        text-align: left;
    }
    .valor-transacao {
        text-align: left;
    }
}
