@media (max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
            "header"
            "sidebar"
            "main"
            "footer";
    }

    main {
        grid-area: main;
    }

    header {
        grid-area: header;
    }

    .sidebar {
        grid-area: sidebar;
    }
    
    .cards-container {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto; 
    }

    .historico-transacoes {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }

}
